.mobiel-navs{display: none;}

.blog-item-box .blog-item-badge{list-style-type: none;}

@media (max-width: 767px) { 



.navbar-brand{width: 40%;}

.navbar-brand img{width: 100%;}

.navbar-nav li {margin-left: 0; border-bottom: 1px solid #ccc; }

.navbar-nav li a{padding: 11px!important;}

.navbar-nav li a:hover{color: #088141!important;}

.desktop-navs{display: none;}

.mobiel-navs{display: flex; align-items: center;}

.mobiel-navs a{padding: 9px 12px;font-size: 15px;margin-right: 5px;}

.navbar-toggler{font-size: 26px;}

.navbar-toggler:focus{box-shadow: unset; outline: none;}

.banner-slide-box img{height: 210px; object-fit: cover;}

.content-div {width: 100%; }

.banner-button a{font-size: 14px; padding: 9px 12px;}

.content-div h4 {font-weight: 800; font-size: 17px; color: #fff; margin-bottom: 0px; }

.content-div h3 {font-weight: 800; font-size: 17px; color: #fff; margin-bottom: 9px; }

.content-div h5 {font-weight: 600; font-size: 21px; margin-bottom: 8px; color: #fff; }

.content-div p{display: none;}

.about-image img{margin-bottom: 27px;}



.abt-inner-con h3 {font-size: 22px; margin-bottom: 11px; }

.abt-inner-con p {color: #000; font-size: 13px; }

.about-btn a {padding: 10px 11px; font-weight: 600; font-size: 14px;}

.about-wrapper {padding: 20px 0px; }

.why-voteyour-wrapp {background-color: #f4f4f4; padding: 30px 0px; }

.why-head h3 {font-size: 22px; margin-bottom: 13px; }

.why-head p {font-size: 13px; width: 100%; }

.why-head {text-align: center; margin-bottom: 16px; }

.single-box{padding: 12px 14px;margin-top: 18px;}

.heading1 h4 a{font-size: 16px;}

.heading1 p{font-size: 13px;}

.popular-category-wrapp {padding: 20px 0px;}



.how-works-wrapp {padding: 30px 0px; }

.preced-box {height: auto; margin-top: 20px; }

.preced-box h5 img {width: 32px; }

.preced-box h5 {width: 60px; height: 60px; font-size: 18px; padding: 30px; }

.proced-box-con h6{font-size: 16px;}

.proced-box-con p{font-size: 13px;}

.main-footer{padding: 12px;}

.footer-about img {margin-bottom: 14px; width: 160px; }

.footer-about p{font-size: 13px;}

.quick-link {padding-top: 20px; padding-left: 0; }

.quick-link h5 {font-size: 19px; margin-bottom: 10px; }

.quick-link ul li a{font-size: 13px;}

.footer-contact {padding-top: 10px; }

.footer-contact h5 {font-size: 19px; margin-bottom: 15px; }

.footer-contact ul li p{font-size: 13px;}

.footer-contact ul li p a{font-size: 13px;}

.footer-newsletter {padding-top: 12px; padding-left: 0; }

.footer-newsletter h5 {font-size: 19px; margin-bottom: 13px; }

.footer-newsletter .top-right {margin-top: 20px; margin-bottom: 20px; }

.footer-newsletter .top-right ul li a i {width: 30px; height: 30px; font-size: 14px; }

.copyright p{font-size: 13px;}





.inner-banner-wrapper .inner-banner-img img {width: 100%; height: 200px; object-fit: cover; }

.inner-banner-wrapper .inner-banner-con-inn h2 {color: #fff; font-weight: 700; font-size: 21px; margin-bottom: 8px; text-align: center; }

.inner-banner-wrapper ol.breadcrumb{justify-content: center;}

.inner-banner-wrapper ol.breadcrumb li{font-size: 14px;}



.blog-wrapper {padding: 30px 0px 0px; }

.blog-item-box .blog-item-title {font-size: 17px; font-weight: 600; color: #000; margin-bottom: 8px; line-height: 25px; }

.blog-item-content p{font-size: 13px;}

.blog-item-box{margin-bottom: 30px;}



.blog-detail-wrapper {padding: 20px 0px; }

.blog-detail-title h3 {color: #000; text-decoration: none; font-size: 17px; margin-top: 5px; font-weight: 700; margin-bottom: 13px; }

.blod-detail-description p {font-size: 13px; }

.blod-detail-description h2 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blod-detail-description h3 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blod-detail-description h4 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blog-detail-left{margin-bottom: 21px;}

.blog-detail-wrapper .widget {margin-bottom: 20px; padding: 16px 15px 4px; background-color: #fff; border-radius: 10px; position: relative; box-shadow: 0px 0px 10px #ccc; }

h2.widget-title, h2.widgettitle {font-size: 19px; padding-bottom: 18px; margin-bottom: 19px; position: relative; color: #000; font-weight: 700; }



.login-page-left{display: none;}

.login-top-head{display: none;}

.login-form-right {height: auto; display: flex; align-items: center; position: relative; padding: 40px 0px; background-color: #daece242; }

.login-page-wrapp .pe-0{padding: 0px!important;}

.login-form-inner{width: 92%;}

.login-form-inner h3 {color: #000; font-size: 17px; margin-bottom: 10px; }

.login-form-inner p{font-size: 13px;}

.login-form-inner form p a{font-size: 14px;}

.login-form-inner h2{font-size: 14px;}

.sign-up-form {margin-top: 0; }



.gallery-wrapper {padding: 20px 0px; }

.gallery-image {margin-bottom: 15px; }



.is-sticky{position: unset!important;}



.inner-banner-main{padding: 20px;}

.inner-banner-con h2{font-size: 19px;margin-bottom: 6px;}

ol.breadcrumb li{font-size: 14px;}



.my-account-middle {padding: 20px 0px; }

.my-account-tabs .side-tab{flex-direction: unset!important;gap: 0px 10px;background-color: unset;}

.side-tab button {width: 48%; border: 1px solid #009947 !important; font-size: 14px; margin-bottom: 9px; padding: 9px; }

.my-account-tabs .side-right-tab{border-radius: 15px!important;padding: 22px 12px 30px;}

.poll-quest-head h3{font-size: 18px;}

.poll-quest-head p{font-size: 13px;}

.poll-quest-head {margin-bottom: 20px; }

.category-forms select{padding: 7px 20px;}





.avatar-upload .avatar-preview{width: 130px; height: 130px;}

.profile-section-div form input{padding: 8px 20px;}

.profile-section-div form label{font-size: 14px;}

.profile-section-div .form-group{margin-bottom: 7px;}

.change-password-form .login-form-inner{width: 100%;}


.hero-actions{
    margin-bottom: 0px;
}
.foot-bottom {
    margin-top: 20px;
    
}







@media (min-width: 768px) and (max-width: 991px) { 

.btn-nav-whatsapp-quote{
        border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.navbar-brand{width: 22%;}

.navbar-brand img{width: 100%;}

.navbar-nav li {margin-left: 0; border-bottom: 1px solid #ccc; }

.navbar-nav li a{padding: 11px!important;}

.navbar-nav li a:hover{color: #088141!important;}

.desktop-navs{display: none;}

.mobiel-navs{display: flex; align-items: center;}

.mobiel-navs a{padding: 9px 12px;font-size: 15px;margin-right: 5px;}

.navbar-toggler{font-size: 26px;}

.navbar-toggler:focus{box-shadow: unset; outline: none;}

.banner-slide-box img{height: 210px; object-fit: cover;}

.content-div {width: 100%; }

.banner-button a{font-size: 14px; padding: 9px 12px;}

.content-div h4 {font-weight: 800; font-size: 17px; color: #fff; margin-bottom: 0px; }

.content-div h3 {font-weight: 800; font-size: 17px; color: #fff; margin-bottom: 9px; }

.content-div h5 {font-weight: 600; font-size: 21px; margin-bottom: 8px; color: #fff; }

.content-div p{display: none;}

.about-image img{margin-bottom: 27px;}



.abt-inner-con h3 {font-size: 22px; margin-bottom: 11px; }

.abt-inner-con p {color: #000; font-size: 13px; }

.about-btn a {padding: 10px 11px; font-weight: 600; font-size: 14px;}

.about-wrapper {padding: 20px 0px; }

.why-voteyour-wrapp {background-color: #f4f4f4; padding: 30px 0px; }

.why-head h3 {font-size: 22px; margin-bottom: 13px; }

.why-head p {font-size: 13px; width: 100%; }

.why-head {text-align: center; margin-bottom: 16px; }

.single-box{padding: 12px 14px;margin-top: 18px;}

.heading1 h4 a{font-size: 16px;}

.heading1 p{font-size: 13px;}

.popular-category-wrapp {padding: 20px 0px;}



.how-works-wrapp {padding: 30px 0px; }

.preced-box {height: auto; margin-top: 20px; }

.preced-box h5 img {width: 32px; }

.preced-box h5 {width: 60px; height: 60px; font-size: 18px; padding: 30px; }

.proced-box-con h6{font-size: 16px;}

.proced-box-con p{font-size: 13px;}

.main-footer{padding: 12px;}

.footer-about img {margin-bottom: 14px; width: 160px; }

.footer-about p{font-size: 13px;}

.quick-link {padding-top: 20px; padding-left: 0; }

.quick-link h5 {font-size: 19px; margin-bottom: 10px; }

.quick-link ul li a{font-size: 13px;}

.footer-contact {padding-top: 10px; }

.footer-contact h5 {font-size: 19px; margin-bottom: 15px; }

.footer-contact ul li p{font-size: 13px;}

.footer-contact ul li p a{font-size: 13px;}

.footer-newsletter {padding-top: 12px; padding-left: 0; }

.footer-newsletter h5 {font-size: 19px; margin-bottom: 13px; }

.footer-newsletter .top-right {margin-top: 20px; margin-bottom: 20px; }

.footer-newsletter .top-right ul li a i {width: 30px; height: 30px; font-size: 14px; }

.copyright p{font-size: 13px;}





.inner-banner-wrapper .inner-banner-img img {width: 100%; height: 120px; object-fit: cover; }

.inner-banner-wrapper .inner-banner-con-inn h2 {color: #fff; font-weight: 700; font-size: 21px; margin-bottom: 8px; text-align: center; }

.inner-banner-wrapper ol.breadcrumb{justify-content: center;}

.inner-banner-wrapper ol.breadcrumb li{font-size: 14px;}





.blog-wrapper {padding: 30px 0px 0px; }

.blog-item-box .blog-item-title {font-size: 17px; font-weight: 600; color: #000; margin-bottom: 8px; line-height: 25px; }

.blog-item-content p{font-size: 13px;}

.blog-item-box{margin-bottom: 30px;}

.blog-detail-wrapper {padding: 20px 0px; }

.blog-detail-title h3 {color: #000; text-decoration: none; font-size: 17px; margin-top: 5px; font-weight: 700; margin-bottom: 13px; }

.blod-detail-description p {font-size: 13px; }

.blod-detail-description h2 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blod-detail-description h3 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blod-detail-description h4 {font-size: 16px; font-weight: 600; color: #000; margin-bottom: 16px; }

.blog-detail-left{margin-bottom: 21px;}

.blog-detail-wrapper .widget {margin-bottom: 20px; padding: 16px 15px 4px; background-color: #fff; border-radius: 10px; position: relative; box-shadow: 0px 0px 10px #ccc; }

h2.widget-title, h2.widgettitle {font-size: 19px; padding-bottom: 18px; margin-bottom: 19px; position: relative; color: #000; font-weight: 700; }



.login-page-left{display: none;}

.login-top-head{display: none;}

.login-form-right {height: auto; display: flex; align-items: center; position: relative; padding: 40px 0px; background-color: #daece242; }

.login-page-wrapp .pe-0{padding: 0px!important;}

.login-form-inner{width: 60%;}

.login-form-inner h3 {color: #000; font-size: 17px; margin-bottom: 10px; }

.login-form-inner p{font-size: 13px;}

.login-form-inner form p a{font-size: 14px;}

.login-form-inner h2{font-size: 14px;}

.sign-up-form {margin-top: 0; }



.gallery-wrapper {padding: 20px 0px; }

.gallery-image {margin-bottom: 15px; }



.is-sticky{position: unset!important;}



.inner-banner-main{padding: 20px;}

.inner-banner-con h2{font-size: 19px;margin-bottom: 6px;}

ol.breadcrumb li{font-size: 14px;}



.my-account-middle {padding: 20px 0px; }

.my-account-tabs .side-tab{flex-direction: unset!important;gap: 0px 10px;background-color: unset;}

.side-tab button {width: 48%; border: 1px solid #009947 !important; font-size: 14px; margin-bottom: 9px; padding: 9px; }

.my-account-tabs .side-right-tab{border-radius: 15px!important;padding: 22px 12px 30px;}

.poll-quest-head h3{font-size: 18px;}

.poll-quest-head p{font-size: 13px;}

.poll-quest-head {margin-bottom: 20px; }

.category-forms select{padding: 7px 20px;}





.avatar-upload .avatar-preview{width: 130px; height: 130px;}

.profile-section-div form input{padding: 8px 20px;}

.profile-section-div form label{font-size: 14px;}

.profile-section-div .form-group{margin-bottom: 7px;}

.change-password-form .login-form-inner{width: 100%;}







}















@media (min-width: 1569px) and (max-width: 2592px) {



.login-form-inner {width: 55%;}



.login-form-inner .form-group{margin-bottom: 12px; padding: 0px 3px;}



.login-form-inner form input {padding: 10px 20px;}







}















